name: Python application

on: [push]

jobs:
  build:
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .[dev]
    - name: Lint
      run: |
        black --diff --check tdworkflow tests
        isort --check-only tdworkflow tests
        mypy --install-types --non-interactive tdworkflow
    - name: Test with pytest
      run: |
        pytest
